{:paths ["src"
         "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.12.4"}
  de.otto/nom {:mvn/version "0.3.0"}
  org.pinkgorilla/timbre {:mvn/version "0.0.8"}
  org.pinkgorilla/extension {:mvn/version "0.0.16"}
  org.pinkgorilla/modular {:mvn/version "0.3.76"}
  org.pinkgorilla/permission {:mvn/version "0.2.20"}
  org.pinkgorilla/websocket {:mvn/version "0.2.34"}}
 :aliases
 {; github ci  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}

  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner.git"
                       :sha "cc75980b43011773162b485f46f939dc5fba91e4"}
                      ring/ring-mock {:mvn/version "0.4.0"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}
 ;
 }
