{:name "demo"
 ; build
 :lazy true
 :cljs-namespace [demo.page
                  demo.admin
                  demo.app]
 :cljs-ns-bindings {'demo.page {'service-page demo.page/service-page}
                    'demo.admin {'help-page demo.admin/help-page}
                    'demo.app {'routes demo.app/routes
                               'wrap-webly demo.app/wrap-webly}}
 
 
 ;runtime
 :cljs-routes {"" demo.page/service-page
               "help" demo.admin/help-page}
 
 :cljs-routes-reitit demo.app/routes

 :clj-services2 [{:fun demo.fortune-cookie/get-cookie :ctx :cookie-db}]
 

 :clj-services {:name "demo"
                :permission nil
                :symbols [demo.service/add
                          demo.service/quote
                          demo.service/quote-slow
                          demo.service/ex]}}

